
body {
    background-image: url(/images/background.png);
}




#main {
    background-color: rgba(53, 51, 51, 0.6);
    margin: 130px;
    padding: 85px;
    font-family: 'Playfair Display', serif;
    font-weight: 625;
    box-shadow: 38px 38px 11px black;
    border-radius: 20px;
}

#title {
  text-align: center;
    margin: 110px 0 110px 0;
    font-family: 'Roboto', sans-serif;  
    font-size: 45px;
    

}

#img-caption {
    margin-top: 15px;
}


.container {
    display: grid; 
    width: 100%;
    grid-template-columns: 3fr 2fr;
    grid-gap: 25px;
}


#tribute-info {
    text-align: justify;
    padding: 25px;
    /* background-color: darkseagreen; */
}

blockquote {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}


#timeline {
    padding: 25px;
    /* background-color: pink; */
}



#tribute-link {
    margin-top: 75px;
    
}

#tribute-link a {
    color: black;
}


footer {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
}

hr {
border: solid 2px black;
margin: 25px;
}





.img-div {
    text-align: center;
    margin-bottom: 47px;
}

#image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    width: 600px;    
}